# Analise de dados de 70 mil linhas

Primeiramente é preciso importar a biblioteca pandas. O "import as" permite renomear a biblioteca, para maior agilidade do código

In [4]:
import pandas as pd

A Biblioteca Panda é encarregada de ler o excel com os dados a serem analisados

In [6]:
dados = pd.read_excel("vendas.xlsx")

In [7]:
head()

NameError: name 'head' is not defined

In [8]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1,2021-06-21,Loja 4,Santos,São Paulo,Sudeste,200ml,Delivery,5,Crédito,2021-06
1,PED2,2021-04-17,Loja 2,Niterói,Rio de Janeiro,Sudeste,200ml,Consumo no local,5,Pix,2021-04
2,PED3,2022-12-12,Loja 1,Fortaleza,Ceará,Nordeste,500ml,Delivery,9,Pix,2022-12
3,PED4,2022-03-09,Loja 2,Niterói,Rio de Janeiro,Sudeste,300ml,Consumo no local,7,Débito,2022-03
4,PED5,2022-11-28,Loja 4,Santos,São Paulo,Sudeste,700ml,Delivery,11,Débito,2022-11

In [9]:
dados.shape

(70000, 11)

In [10]:
dados.info

<bound method DataFrame.info of       id_pedido       data    loja         cidade          estado    regiao  \
0          PED1 2021-06-21  Loja 4         Santos       São Paulo   Sudeste
1          PED2 2021-04-17  Loja 2        Niterói  Rio de Janeiro   Sudeste
2          PED3 2022-12-12  Loja 1      Fortaleza           Ceará  Nordeste
3          PED4 2022-03-09  Loja 2        Niterói  Rio de Janeiro   Sudeste
4          PED5 2022-11-28  Loja 4         Santos       São Paulo   Sudeste
...         ...        ...     ...            ...             ...       ...
69995  PED69996 2020-12-03  Loja 5      São Paulo       São Paulo   Sudeste
69996  PED69997 2021-06-01  Loja 6  Florianópolis  Santa Catarina       Sul
69997  PED69998 2022-07-14  Loja 6  Florianópolis  Santa Catarina       Sul
69998  PED69999 2021-06-01  Loja 6  Florianópolis  Santa Catarina       Sul
69999  PED70000 2022-07-10  Loja 2        Niterói  Rio de Janeiro   Sudeste

      tamanho     local_consumo  preco forma_pagamento  ano_mes
0       200ml          Delivery      5         Crédito  2021-06
1       200ml  Consumo no local      5             Pix  2021-04
2       500ml          Delivery      9             Pix  2022-12
3       300ml  Consumo no local      7          Débito  2022-03
4       700ml          Delivery     11          Débito  2022-11
...       ...               ...    ...             ...      ...
69995   300ml  Consumo no local      7        Dinheiro  2020-12
69996   700ml  Consumo no local     11             Pix  2021-06
69997   700ml          Delivery     11        Dinheiro  2022-07
69998   500ml  Consumo no local      9             Pix  2021-06
69999   700ml  Consumo no local     11        Dinheiro  2022-07

[70000 rows x 11 columns]>

In [11]:
dados.describe

<bound method NDFrame.describe of       id_pedido       data    loja         cidade          estado    regiao  \
0          PED1 2021-06-21  Loja 4         Santos       São Paulo   Sudeste
1          PED2 2021-04-17  Loja 2        Niterói  Rio de Janeiro   Sudeste
2          PED3 2022-12-12  Loja 1      Fortaleza           Ceará  Nordeste
3          PED4 2022-03-09  Loja 2        Niterói  Rio de Janeiro   Sudeste
4          PED5 2022-11-28  Loja 4         Santos       São Paulo   Sudeste
...         ...        ...     ...            ...             ...       ...
69995  PED69996 2020-12-03  Loja 5      São Paulo       São Paulo   Sudeste
69996  PED69997 2021-06-01  Loja 6  Florianópolis  Santa Catarina       Sul
69997  PED69998 2022-07-14  Loja 6  Florianópolis  Santa Catarina       Sul
69998  PED69999 2021-06-01  Loja 6  Florianópolis  Santa Catarina       Sul
69999  PED70000 2022-07-10  Loja 2        Niterói  Rio de Janeiro   Sudeste

      tamanho     local_consumo  preco forma_pagamento  ano_mes
0       200ml          Delivery      5         Crédito  2021-06
1       200ml  Consumo no local      5             Pix  2021-04
2       500ml          Delivery      9             Pix  2022-12
3       300ml  Consumo no local      7          Débito  2022-03
4       700ml          Delivery     11          Débito  2022-11
...       ...               ...    ...             ...      ...
69995   300ml  Consumo no local      7        Dinheiro  2020-12
69996   700ml  Consumo no local     11             Pix  2021-06
69997   700ml          Delivery     11        Dinheiro  2022-07
69998   500ml  Consumo no local      9             Pix  2021-06
69999   700ml  Consumo no local     11        Dinheiro  2022-07

[70000 rows x 11 columns]>

In [12]:
dados ['loja']

0        Loja 4
1        Loja 2
2        Loja 1
3        Loja 2
4        Loja 4
          ...
69995    Loja 5
69996    Loja 6
69997    Loja 6
69998    Loja 6
69999    Loja 2
Name: loja, Length: 70000, dtype: object